#edge-internal {
    background-color: rgb(45,45,45);
    font-family: 'Montserrat', sans-serif;
}

.driveline-orange {
    color: rgb(255,163,0) !important;
}

.driveline-orange-2 {
    color: rgb(230,154,21);

}

.driveline-dark-orange {
    color: rgb(210,126,7);
}

.driveline-blue {
    color: rgb(0,71,187);
}

.nav-bar-dark {
    color: rgba(255,255,255,.5);
}

.nav-item-color {
    color: whitesmoke;
}

.traq-background {
    background-color: #676a6c;
    color: white;
}

.traq-header-fonts {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.traq-primary-orange {
    color: #FFA300;
}

.traq-default-gray {
    color: #A7B1C2;
}